.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 0vh 10%;
    margin-bottom: 6vh;
}

.container > h2 {
    text-align: center;
    font-size: 32pt;
    margin: 0;
    padding: 0;
}

.carousel {
    max-width: 100%;
}

.slide {
    display: flex !important;
    justify-content: center;
    padding: 20px 0px 40px 0px;
    gap: 20px;
}

.slide img {
    max-width: 100%;
    max-height: 500px;
    border: 1px solid silver;
}

.videos {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

@media (width <= 1000px) {
    .container > h2 {
        font-size: 28pt;
    }
}