.container {
    margin: 6vh;
    margin-bottom: 0px;
    margin-top: 6vmax;
    display: flex;
    flex-direction: column;
    position: relative;
}
.title {
    font-size: 34pt;
    margin-bottom: 16px;
}

.container p {
    width: 73%;
    font-size: 17pt;
    margin-bottom: 40px;
}

.list {
    display: flex;
    gap: 30px;
}

.item {
    width: 220px;
    background-color: rgb(0, 0, 0) ;
    padding: 10px 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.item h2 {
    font-size: 40pt;
    color: #FFF;
    margin-bottom: 6px;
}
.item h3 {
    font-weight: 500;
    font-size: 12pt;
    color: #FFF;
    margin-bottom: 5px;
}

.container hr {
    margin: 120px 0px;
    margin-bottom: 70px;
    background-color: var(--main-color);
    height: 6px;
    width: 80%;
}

.services_p {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 15px;
}
.services_list {
    font-size: 16pt;
}
.services_list li {
    margin-bottom: 3px;
}
.services_list li > span {
    font-weight: bold;
}

.employees {
    align-self: center;
    width: 80%;
    margin-top: 60px;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}
.subtitle {
    text-align: center;
}
.cards {
    margin: 50px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    position: relative;
}
.card {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16pt;
}
.card img {
    padding: 15px;
    border-radius: 10px;
    background-color: black;
}

.button {
    align-self: center;
    text-align: center;
    cursor: pointer;
    padding: 10px 40px;
    margin-top: 28px;
    font-size: 16pt;
    font-weight: 600;
    background-color: var(--sub-color);
    color: black;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid rgb(233, 233, 233);
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

@media (width <= 1200px) {
    .title {
        font-size: 30pt;
    }
    .container p {
        font-size: 14pt;
    }
    .item h2 {
        font-size: 30pt;
    }
    .item h3 {
        font-size: 11pt;
    }
    .services_p {
        font-size: 20pt;
        margin-bottom: 10px;
    }
    .services_list {
        font-size: 13pt;
    }
}
@media (width <= 1000px) {
    .cards {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .title {
        font-size: 30pt;
    }
    .container p {
        width: 85%;
        font-size: 13pt;
    }
    .item h2 {
        font-size: 25pt;
    }
    .services_p {
        font-size: 20pt;
        margin-bottom: 10px;
    }
    .services_list {
        font-size: 12pt;
    }
}
@media (width <= 700px) {
    .title {
        font-size: 20pt;
    }
    .container p {
        width: 90%;
        font-size: 12pt;
    }
    .list {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .item {
        width: 200px;
    }
    .item h2 {
        font-size: 22pt;
    }
    .item h3 {
        font-size: 10pt;
    }
    .container hr {
        margin: 70px;
        margin-bottom: 50px;
    }
    .services_p {
        font-size: 16pt;
        margin-bottom: 10px;
    }
    .services_list {
        font-size: 12pt;
        padding-left: 10px;
    }
    .cards {
        gap: 20px;
        margin: 50px 0%;
        width: 100%;
    }
    .card {
        font-size: 14pt;
    }
}
@media (width <= 550px) {
    .card img {
        width: 30px;
        padding: 11px;
    }
    .card {
        font-size: 12pt;
        width: 80%;
    }
}