.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    position: relative;
    width: 100%;
}
.title_container {
    display: flex;
    flex-direction: column;

}
.title_container h1 {
    font-size: 40pt;
    margin: 13px;
}
.title_container hr {
    background-color: var(--main-color);
    width: 100%;
    margin-top: 0;
    height: 4px;
}

.cards {
    margin: 50px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px;
    position: relative;
}
.card {
    background-color: rgba(244, 244, 244, 0.936);
    padding: 15px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    transition: 0.2s all ease-in-out;
}
.card:hover {
    -webkit-box-shadow: 0px 26px 45px -18px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 26px 45px -18px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 26px 45px -18px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}

.info {
    width: 100%;
    font-size: 15pt;
    background-color: var(--sub-color);
}
.info div {
    padding: 30px 8%;
}
.info div h2 {
    font-size: 22pt;
    margin-bottom: 14px;
}