.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 26pt;
    text-transform: uppercase;
    margin: 35px 10px 0px 10px;
}

.container hr {
    height: 3px;
    background-color: var(--main-color);
    width: 30%;
    margin-bottom: 20px;
}

.shape {
    position: absolute;
    width: 28vmax;
    bottom: 0;
    user-select: none;
    -webkit-user-drag: none;
}
.shape1 {
    width: 22vmax;
    bottom: 10%;
    left: 4%;
    animation: shape1 15s infinite forwards;
    pointer-events: none;
}

@keyframes shape1 {
    50% {
        transform: translate(0%, -22%) rotate(-24deg);
    }
}

.shape2 {
    animation: shape2 20s infinite forwards;
}

@keyframes shape2 {
    50% {
        transform: translate(15%, 5%) rotate(20deg);
    }
}

.shape3 {
    animation: shape3 16s 2s infinite forwards;
}

@keyframes shape3 {
    50% {
        transform: translate(6%, -6%) rotate(-20deg);
    }
}

.content_container {
    display: flex;
    justify-content: flex-end;
}

.list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 67%;
    gap: 25px;
    margin: 20px 4vh 60px 0px;
    direction: rtl;
    text-align: left;
    z-index: 0;
}

.item {
    background-color: rgba(244, 244, 244, 0.936);
    padding: 20px 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    direction: ltr;
}
.item h2 {
    font-size: 20pt;
}
.item p {
    margin-top: 10px;
    font-size: 13pt;
}

@media (width <= 1200px) {
    .list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media (width <= 800px) {
    .content_container {
        justify-content: center;
    }
    .list {
        width: 83%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-left: 0px;
        margin-right: 0px;
        z-index: 1;
        padding: 0;
        text-align: center;
    }
    .list h2 {
        font-size: 18pt;
    }
    .list p {
        font-size: 12pt;
    }
    .shape1 {
        width: 30vmax;
    }
    .shape2 {
        width: 35vmax;
    }
    .shape3 {
        width: 40vmax;
    }
    .item {
        margin-bottom: 20px;
    }
}