.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.loader {
    border: 15px solid #f3f3f3; 
    border-top: 15px solid var(--main-color); 
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.3s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container h1 {
    margin-top: 25px;
    font-size: 18pt;
}