.footer_container {
    margin-top: auto;
    background-color: var(--black-color);
    color: rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-top: 20px;
}

.top_container {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    display: flex;
}
.left {
    align-items: center;
    margin-left: 2.5rem;
    gap: 13px;
}
.right {
    margin-right: 4.5rem;
    align-items: center;
}

.logo {
    background-image: url('/images/logo-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
}
.title_container {
    display: flex;
    flex-direction: column;
    align-self: center;
    user-select: none;
}
.title {
    font-size: 46pt;
    user-select: none;
}
.subtitle {
    user-select: none;
    font-size: 13pt;
    font-weight: normal;
}
.uptitle {
    user-select: none;
    font-size: 10pt;
    font-weight: normal;
}

.soc_info {
    display: flex;
}

.socials {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: center;
    gap: 8px;
    margin-left: 4px;
}

.bottom_p {
    text-align: center;
    margin: 20px 0px;
}

hr {
    background-color: rgb(63, 63, 63);
    border: none;
    height: 3px;
    width: 90%;
    display: flex;
    align-self: center;
    margin-top: 20px;
}

.footer_text {
    text-align: center;
    margin-top: 6px;
    width: 80%;
    display: flex;
    align-self: center;
}

@media (width < 1150px) {
    .logo {
        width: 120px;
        height: 120px;
    }
    .title {
        font-size: 30pt;
    }
    .subtitle {
        font-size: 11pt;
    }
    .socials {
        flex-direction: column-reverse;
    }
    .left {
        margin-left: 1rem;
    }
    .right {
        margin-right: 1rem;
    }
    .subtitle {
        font-size: 12pt;
    }
    .uptitle {
        font-size: 8pt;
    }
}

@media (width < 800px) {
    .top_container {
        flex-direction: column;
    }
    .title {
        font-size: 44pt;
    }
    .left {
        align-self: center;
        margin-left: 0px;
    }
    .right {
        flex-direction: column-reverse;
    }
    .socials {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .soc_info {
        flex-direction: column-reverse;
        margin: 5px 0px;
    }
    .socials {
        flex-direction: row;
    }
}
@media (width < 500px) {
    .title {
        font-size: 30pt;
    }
    .subtitle {
        font-size: 12pt;
    }
    .uptitle {
        font-size: 8pt;
    }
}