@import url('./fonts/fonts.css');

:root {
  --main-color: #fbcb00;
  --sub-color: #feda3a;
  --fake-color: #ffe15a;
  --black-color: #0f0f0f;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'mainFont';
}